body {
  margin: 0;
  font-family: 'Goldman', sans-serif;
  background-image: url('Background 2.jpeg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(12px);
  color: #ffffff;
}

header {
  background-color: #000000ba;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 15px;
}

.judul-deskripsi h1 {
  margin: 0;
  font-size: 2em;
  color: #00ff99;
}

.judul-deskripsi p {
  margin: 0;
  font-size: 1em;
  color: #ccc;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #00cc66;
}

.item {
  background: #000000c1;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #00cc66;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 10px;
}

.btn:hover {
  background: #00994d;
}

footer {
  text-align: center;
  padding: 15px;
  background: #000000c2;
  color: #aaa;
  font-size: 0.9em;
}

.foto-banner {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}

.jam-digital {
  text-align: center;
  margin-top: 10px;
  font-family: 'Goldman', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(2, 219, 92);
  font-size: 2em;
  z-index: 1002;
  text-shadow: #00ffea 0px 0px 10px, #00ff99 0px 0px 20px;
 
}

.sosmed {
  text-align: center;
  padding: 30px 15px;
  background: #000000a5;
  border-radius: 12px;
  margin: 30px 10px;
}

.sosmed h2 {
  color: #00ff99;
  margin-bottom: 20px;
}

.sosmed-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.sosmed-links a {
  text-decoration: none;
  color: #ffffff;
  background: #00cc6650;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.sosmed-links a:hover {
  background: #00cc66;
}

.sosmed-links img {
  width: 30px;
  height: 30px;
}



/* --- Responsif HP --- */
@media (max-width: 600px) {
  header {
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
  }

  .logo {
    height: 40px;
    margin-right: 10px;
  }

  .judul-deskripsi h1 {
    font-size: 1.3em;
  }

  .judul-deskripsi p {
    font-size: 0.9em;
  }

  section {
    padding: 15px;
  }

  .btn {
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 1em;
  }
}
